.body {
    margin: 0 2px 0;
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #40514E;
}

.cloud1 {
    position: relative;
    left: 27%;
    top: 20px;
    right: 0%;
    padding-bottom: 0px;
}

.top_container {
    background-color: #e4f9f5;
    padding: 0;
    height: 603px;
}

.cloud2 {
    position: absolute;
    left: 12%;
    top: 163px;
}

.middle_container {
    padding: 100px;
    background-color: white;
}
.skills .skill-row  {
    margin: 100px auto;
    width: 74%;
    text-align: center;
    line-height: auto;
}



.middle_container .profile .profile_image {
	height: 100px;
	width:100px;
}


.bottom_container {
    background-color: #66bfbf;
	padding:50px 0 20px;
}

.pro {
  text-decoration: underline;
}
.professor {
    font-family: 'Sacramento', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    top: auto;
    bottom: 48px;
    position: relative;
    color: #66BFBF;
}
.professional {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 32px;
    position: relative;
    bottom: 75px;
    color: #66bfbf;
	line-height: 1;
}
.mountain {
    left: auto;
    width: auto;
    position: relative;
    bottom: 129px;
}
.h1 {
    color: #66bfbf;
}

p {
    line-height: 2;
    font-size: medium;
	font-weight: bold;
}

h2 {
    color: #66bfbf;
    font-weight: bolder;
}

h3 {
	color:#66bfbf;
}

.skill_image {
    width: 25%;
    float: left;
    margin-right: 56px;
}
.chilli_image {
    width: 25%;
    float: right;
    margin-left: 56px;
}

.footer-link {
    color: #11999e;
    opacity: 1;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-width: 5px;
  border-color: #222831;
	margin:100px auto;
}

.skills {
    margin: 100px;
    width: auto;
}

.contact_message {
	width:40%;
	margin:40px auto 60px;
}

.btn {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 0px 1px 3px #2cbda0;
  -moz-box-shadow: 0px 1px 3px #2cbda0;
  box-shadow: 0px 1px 3px #2cbda0;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
